.wrap {
    width: 100%
}
.join-section {
    width: 1200px;
    margin: 0px auto;
}
/*  加入申请表单  */
.join-form {
    padding: 15px;
    background-color: #e5e5e5;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    bottom: 40px;
}
.join-form div {
    float: left;
    margin-right: 30px;
}
.join-form div input {
    border: 1px #8d8d8d solid;
    height: 24px;
    width: 320px;
    border-radius: 3px;
}
.join-form button {
    background-color: #1ea115;
    border: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}
/*  标题  */
.title {

}
.title-center {
    text-align: center;
}
.title-left {
    text-align: left;
}
.title-right {
    text-align: right;
}
.title .title-cn {
    color: #1ea115;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    bottom: -10px;
}
.title .title-en {
    color: #c9cccf;
    font-size: 28px;
}
/*  我们的优势  */
