.ind_quick, .ii_cont, .ind_dggl, .dggl_top {
    *zoom: 1
}

.ind_quick:before, .ii_cont:before, .ind_dggl:before, .dggl_top:before, .ind_quick:after, .ii_cont:after, .ind_dggl:after, .dggl_top:after {
    content: "";
    display: table
}

.ind_quick:after, .ii_cont:after, .ind_dggl:after, .dggl_top:after {
    clear: both
}

.ii_store .name, .dggl_top .con a, .list_news a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ind_quick, .ii_cont, .ind_dggl, .dggl_top {
    *zoom: 1
}

.ind_quick:before, .ii_cont:before, .ind_dggl:before, .dggl_top:before, .ind_quick:after, .ii_cont:after, .ind_dggl:after, .dggl_top:after {
    content: "";
    display: table
}

.ind_quick:after, .ii_cont:after, .ind_dggl:after, .dggl_top:after {
    clear: both
}

.ii_store .name, .dggl_top .con a, .list_news a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ic_ind_address {
    background-image: url("../images/spriteind.png");
    background-position: -165px -28px;
    width: 12px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ind_fachot {
    background-image: url("../images/spriteind.png");
    background-position: -68px -28px;
    width: 41px;
    height: 41px;
    display: inline-block;
    vertical-align: middle
}

.ic_ind_jiang {
    background-image: url("../images/spriteind.png") ;
    background-position: -117px -28px;
    width: 18px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ind_play {
    background-image: url("../images/spriteind.png") ;
    background-position: 0px -28px;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle
}

.ic_ind_playn {
    background-image: url("../images/spriteind.png");
    background-position: -143px -28px;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ind_stit {
    background-image: url("../images/spriteind.png");
    background-position: 0px 0px;
    width: 328px;
    height: 20px;
    display: inline-block;
    vertical-align: middle
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left, top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px, 0, 0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left, top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px, 0, 0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px, 0px);
    -ms-transition-property: -ms-transform, left, top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px, 0, 0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
    background: none;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 5px
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #ccc;
    border-radius: 10px
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.banner {
    position: relative;
    width: 100%;
    height: 420px
}

.slide {
    height: 420px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2
}

.slide img {
    width: 100%;
    display: block
}

.slide ul {
    position: relative;
    overflow: hidden
}

.slide li {
    height: 420px;
    display: none;
    z-index: 1;
    background-size: auto 100%
}

.slide li a {
    display: block;
    width: 100%;
    height: 100%
}

.slide .slide_nav {
    position: relative;
    z-index: 100;
    top: -50px;
    color: #fff;
    height: 50px;
    text-align: center
}

.slide .num span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 12px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden
}

.slide .num .cur {
    opacity: 1;
    background-color: #2698e4
}

.ind_notice {
    width: 100%;
    height: 68px;
    border-bottom: 2px solid #6fbdf2;
    background: url("../images/notic_bg.jpg") center top no-repeat #eef8ff;
    overflow: hidden;
    margin-right: -20px
}

.ind_notice .titles {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
    background: #2698e4;
    font-size: 16px
}

.ind_notice .titles .ic {
    margin-right: 12px;
    vertical-align: -2px
}

.ind_notice .swiper-wrapper {
    margin-left: 230px;
    font-size: 18px
}

.ind_notice .swiper-container {
    overflow: hidden;
    width: 600px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-top: 18px
}

.ind_notice a {
    display: block;
    line-height: 30px;
    padding: 0;
    margin: 0;
    float: none
}

.ind_notice a em {
    color: #ff7325
}

.ind_notice a:hover {
    color: #444
}

.ind_notice .ic_dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #aaa;
    border-radius: 3px;
    margin-right: 12px;
    vertical-align: middle
}

.ind_quick {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-right: -12px;
    margin-top: 30px;
    line-height: 25px
}

.ind_quick em {
    display: block;
    font-size: 22px;
    color: #444;
    margin: 30px 0 25px
}

.ind_quick .quick_ico {
    margin-bottom: 10px;
    margin-top: 15px
}

.ind_quick a {
    display: block;
    color: #888
}

.ind_quick a:hover {
    color: #888
}

.ind_quick a:hover i {
    background: #2698e4;
    color: #fff;
    border-color: #2698e4
}

.ind_quick i {
    width: 118px;
    height: 28px;
    line-height: 28px;
    display: block;
    margin: 0 auto;
    color: #888;
    border-radius: 15px;
    border: 1px solid #d3d3d3
}

.ind_quick li {
    float: left;
    width: 291px;
    margin-right: 12px;
    display: block;
    height: 330px;
    border-radius: 2px;
    background: #fff
}

.quick_ico {
    background: url("../images/quick_ico.png") no-repeat;
    width: 150px;
    height: 110px;
    display: inline-block
}

.quick_ico.ico1 {
    background-position: 0px 0px
}

.quick_ico.ico2 {
    background-position: 0px -110px
}

.quick_ico.ico3 {
    background-position: 0px -220px
}

.quick_ico.ico4 {
    background-position: 0px -330px
}

.ii_key {
    float: right;
    color: #888;
    font-size: 16px
}

.ii_key a {
    display: inline-block;
    height: 36px;
    line-height: 40px;
    margin-left: 15px;
    color: #888
}

.ii_key a:hover {
    color: #2698e4
}

.ii_key .hover {
    color: #2698e4
}

.ii_tit {
    height: 36px;
    line-height: 32px;
    font-size: 30px;
    color: #2698e4;
    margin-top: 30px;
    margin-bottom: 18px
}

.ii_tit em {
    background: #2698e4;
    color: #fff;
    display: inline-block;
    margin-right: 2px;
    border-radius: 3px;
    margin-left: 3px;
    padding: 0 2px;
    height: 36px;
    line-height: 32px;
    vertical-align: top
}

.ii_cont {
    margin-right: -12px
}

.ii_cont li {
    float: left;
    width: 289px;
    border: 1px solid #fff;
    margin-right: 12px;
    border-radius: 2px;
    background: #fff;
    color: #888
}

.ii_cont li a {
    color: #444
}

.ii_cont li:hover {
    border-color: #2698e4
}

.ii_cont li:hover img {
    transform: scale(1.2, 1.2)
}

.ii_cont .name {
    font-size: 18px;
    border-bottom: 1px dashed #e6e6e6;
    height: 46px;
    line-height: 46px;
    display: block
}

.ii_cont .name:hover {
    color: #2698e4
}

.ii_cont .price {
    font-size: 24px;
    color: #ff7325
}

.ii_cont p {
    line-height: 30px;
    padding: 10px 0
}

.ii_cont .line {
    width: 1px;
    height: 14px;
    background: #e6e6e6;
    display: inline-block;
    margin: 0 10px;
    vertical-align: -1px
}

.ii_con {
    padding: 0 10px
}

.ii_pic {
    position: relative;
    margin: 10px 10px 0;
    width: 271px;
    height: 201px;
    overflow: hidden
}

.ii_pic img {
    position: relative;
    vertical-align: bottom;
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block
}

.ii_pic .ic_hot {
    position: absolute;
    left: 0;
    top: 0
}

.ii_label {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    background: #ff7325;
    color: #fff;
    padding: 0px 10px
}

.ii_store .ii_cont {
    margin-right: -10px
}

.ii_store .ii_cont li {
    width: 230px;
    margin-right: 10px
}

.ii_store .t5 {
    margin-bottom: 20px
}

.ii_store .name {
    height: 40px;
    line-height: 40px;
    text-indent: 2px;
    width: 100%
}

.ii_store .ii_con {
    padding: 0 10px 0px
}

.ii_store p {
    line-height: 24px;
    padding: 0px 0 0 25px;
    margin: 10px 0 10px;
    color: #aaa;
    height: 48px;
    overflow: hidden
}

.ii_store p .ic {
    float: left;
    margin-left: -20px;
    margin-top: 4px
}

.ii_store .ii_pic {
    width: 212px;
    height: 157px
}

.ind_dggl {
    border-radius: 2px;
    background: #fff;
    margin-bottom: 40px;
    padding: 20px
}

.ind_dggl a:hover {
    color: #2698e4 !important
}

.dggl_left {
    width: 800px;
    float: left;
    overflow: hidden
}

.dggl_top {
    padding-bottom: 20px
}

.dggl_top img {
    display: block;
    width: 240px;
    height: 180px;
    float: left
}

.dggl_top .con {
    margin-left: 258px;
    line-height: 25px;
    color: #888
}

.dggl_top .con a {
    font-size: 20px;
    display: block;
    color: #444;
    height: 42px;
    line-height: 42px;
    width: 100%
}

.dggl_top .times {
    color: #aaa;
    display: inline-block;
    margin-top: 10px
}

.dggl_right {
    width: 328px;
    float: right
}

.dggl_mid {
    border-top: 1px solid #e6e6e6;
    margin-right: -25px
}

.dggl_mid li {
    padding: 20px 0 0;
    width: 375px;
    margin-right: 25px;
    float: left
}

.dggl_mid img {
    width: 110px;
    height: 86px;
    float: left
}

.dggl_mid .con {
    margin-left: 120px;
    line-height: 25px
}

.dggl_mid .con a {
    color: #444;
    display: block;
    margin-bottom: 5px;
    height: 50px;
    overflow: hidden
}

.dggl_mid .con p {
    width: 199px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.dggl_mid .times {
    color: #aaa
}

.list_news {
    border-top: 1px dashed #e6e6e6
}

.list_news h3 {
    margin: 15px 0 10px;
    color: #2798e4;
}

.list_news li {
    height: 33px;
    line-height: 33px;
    padding-left: 14px
}

.list_news a {
    color: #888;
    width: 100%;
    display: block
}

.list_news .ic_dot {
    width: 2px;
    height: 2px;
    margin-right: 10px;
    background: #d1d1d1;
    display: inline-block;
    border: 1px solid #bababa;
    float: left;
    margin-top: 15px;
    margin-left: -14px
}

.news_video {
    position: relative;
    margin-bottom: 20px;
    background: #ccc
}

.news_video_con {
    width: 328px;
    height: 200px
}

.news_video_play {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 74px;
    display: none
}

.news_video p {
    height: 52px;
    line-height: 52px;
    background: #fcfdff;
    padding: 0 18px;
    border: 1px solid #e6e6e6;
    font-size: 16px
}

.news_video .tenvideo_player {
    width: 328px;
    height: 200px
}

.news_video embed {
    display: block;
    width: 328px;
    height: 200px
}

.news_video .visit_num {
    float: right;
    font-size: 14px;
    color: #aaa
}

.news_video .visit_num .ic {
    vertical-align: -1px
}

.news_video.playing .news_video_play {
    display: none
}
.dggl_right li:before {
    content: none;
}
