.ne_ztlist li, .ne_xlist li, .fac_recom_list {
    *zoom: 1
}

.ne_ztlist li:before, .ne_xlist li:before, .fac_recom_list:before, .ne_ztlist li:after, .ne_xlist li:after, .fac_recom_list:after {
    content: "";
    display: table
}

.ne_ztlist li:after, .ne_xlist li:after, .fac_recom_list:after {
    clear: both
}

.ne_i_hot a, .ne_i_recom p, .neix_img .first p, .neix_txt a, .fac_recom .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ne_ztlist li, .ne_xlist li, .fac_recom_list {
    *zoom: 1
}

.ne_ztlist li:before, .ne_xlist li:before, .fac_recom_list:before, .ne_ztlist li:after, .ne_xlist li:after, .fac_recom_list:after {
    content: "";
    display: table
}

.ne_ztlist li:after, .ne_xlist li:after, .fac_recom_list:after {
    clear: both
}

.ne_i_hot a, .ne_i_recom p, .neix_img .first p, .neix_txt a, .fac_recom .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ic_ind_playn {
    background-image: url("../images/spritenews.png");
    background-position: -114px -68px;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_play {
    background-image: url("../images/spritenews.png");
    background-position: -42px -68px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_playh {
    background-image: url("../images/spritenews.png");
    background-position: -78px -68px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_swpl {
    background-image: url("../images/spritenews.png");
    background-position: -68px 0px;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_swpr {
    background-image: url("../images/spritenews.png");
    background-position: 0px 0px;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_type1 {
    background-image: url("../images/spritenews.png");
    background-position: -136px -32px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_type2 {
    background-image: url("../images/spritenews.png");
    background-position: -136px 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle
}

.ic_n_type3 {
    background-image: url("../images/spritenews.png");
    background-position: -136px -64px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle
}

.ic_ne_time {
    background-image: url("../images/spritenews.png");
    background-position: -48px -110px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ne_video {
    background-image: url("../images/spritenews.png");
    background-position: 0px -68px;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle
}

.ic_ne_vshare {
    background-image: url("../images/spritenews.png");
    background-position: -24px -110px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ne_vshareh {
    background-image: url("../images/spritenews.png");
    background-position: 0px -110px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.ic_ner_t {
    background-image: url("../images/spritenews.png");
    background-position: -168px 0px;
    width: 5px;
    height: 34px;
    display: inline-block;
    vertical-align: middle
}

.ic_ner_video {
    background-image: url("../images/spritenews.png");
    background-position: -72px -110px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left, top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px, 0, 0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left, top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px, 0, 0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px, 0px);
    -ms-transition-property: -ms-transform, left, top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px, 0, 0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
    background: none;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 5px
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #ccc;
    border-radius: 10px
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.wrap_news {
    padding-bottom: 20px
}

.ne_rmain {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden
}

.ne_rzt_list {
    padding: 20px 20px 10px
}

.ne_rzt_list li {
    font-size: 14px
}

.ne_rzt_list .first {
    height: auto
}

.ne_rzt_list .first:hover a {
    color: #2698e4
}

.ne_rzt_list .imgs {
    display: block;
    margin-bottom: 10px
}

.ne_rzt_list .imgs img {
    width: 240px;
    height: 180px
}

.ne_rvideo_list {
    margin: 5px 0;
    overflow: hidden
}

.ne_rvideo_list li {
    margin: 0 20px
}

.ne_rvideo_list a {
    display: block;
    padding: 15px 0;
    border-top: 1px solid #eee;
    margin-top: -1px
}

.ne_rvideo_list a:hover .names {
    color: #2698e4
}

.ne_rvideo_list img {
    width: 124px;
    height: 68px;
    display: block;
    float: left
}

.ne_rvideo_list .cons {
    margin-left: 134px
}

.ne_rvideo_list .names {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-top: -3px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 5px
}

.ne_rvideo_list .ic {
    float: left;
    margin-right: 10px;
    vertical-align: -3px
}

.ne_rvideo_list .vies {
    color: #bababa;
    font-size: 12px
}

.ner_title {
    height: 34px;
    line-height: 34px;
    padding: 8px 0;
    border-bottom: 1px solid #eee
}

.ner_title h3 {
    font-size: 18px;
    display: inline-block;
    padding: 0 15px;
    height: 34px;
    line-height: 34px
}

.ner_title .ic_line {
    vertical-align: top
}

.ne_rmain {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden
}

.ne_rhot_list {
    font-size: 14px;
    padding: 17px 15px
}

.ne_rhot li {
    float: left;
    width: 50%
}

.ne_rhot a {
    display: block;
    margin: 5px;
    color: #666
}

.ne_rhot a:hover {
    color: #2698e4
}

.ne_rhot img {
    display: block;
    width: 115px;
    height: 86px
}

.ne_rhot p {
    padding-top: 5px;
    height: 90px
}

.ne_nav {
    height: 50px;
    background: #f7f7f7;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(210, 208, 207, 0.1)
}

.ne_nav dl {
    float: left;
    margin-right: 20px
}

.ne_nav dt {
    font-size: 18px;
    color: #444
}

.ne_nav dd a {
    color: #888
}

.ne_nav dd a:hover {
    color: #2698e4
}

.ne_nav a.active {
    color: #2698e4
}

.ne_nav .ic {
    margin: 0 8px
}

.ne_nav dt, .ne_nav dd {
    padding: 0 20px 0 0;
    float: left;
    display: inline-block;
    height: 50px;
    line-height: 50px
}

.ne_i_top {
    margin-top: 20px
}

.ne_i_swiper {
    float: left;
    width: 716px;
    height: 460px;
    position: relative
}

.ne_i_swiper .swiper-container {
    width: 716px;
    height: 460px
}

.ne_i_swiper img {
    display: block;
    width: 716px;
    height: 460px
}

.ne_i_swiper a {
    display: block
}

.ne_i_swiper a:hover p {
    text-decoration: underline
}

.ne_i_swiper .arrow_ctr {
    position: absolute;
    left: 0;
    top: 198px;
    z-index: 2;
    transition: all 1s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

.ne_i_swiper .ic_n_swpr {
    left: auto;
    right: 0
}

.ne_i_swiper .swiper-slide {
    position: relative
}

.ne_i_swiper .swiper-slide p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    padding-left: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent)
}

.ne_i_swiper .ne_pagination {
    position: absolute;
    right: 10px;
    bottom: 20px
}

.ne_i_swiper .ne_pagination span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin-right: 13px;
    cursor: pointer
}

.ne_i_swiper .ne_pagination .swiper-active-switch {
    background: #2698e4
}

.ne_i_swiper:hover .arrow_ctr {
    opacity: 1
}

.ne_i_hot {
    /*width: 474px;*/
    height: 450px;
    padding-top: 10px;
    /*float: right;*/
    background: #fff;
    font-size: 16px;
    color: #666
}

.ne_i_hot li {
    padding-bottom: 20px;
    padding-top: 17px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px dashed #e6e6e6
}

.ne_i_hot .last {
    border: 0
}

.ne_i_hot h3 {
    font-size: 24px;
    margin-bottom: 2px
}

.ne_i_hot a {
    color: #444;
    display: block;
    width: 100%
}

.ne_i_hot a:hover {
    color: #2698e4
}

.ne_i_hot p {
    line-height: 1.8
}

.ne_i_recom {
    clear: both;
    padding-top: 10px;
    margin-right: -15px
}

.ne_i_recom li {
    float: left;
    margin-right: 10px
}

.ne_i_recom a {
    display: block;
    width: 232px;
    height: 174px;
    position: relative
}

.ne_i_recom a:hover p {
    text-decoration: underline
}

.ne_i_recom img {
    display: block;
    width: 100%;
    height: 100%
}

.ne_i_recom p {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 33px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent)
}

.ne_i_tit {
    height: 32px;
    line-height: 32px;
    padding: 30px 0 20px;
    overflow: hidden
}

.ne_i_tit h2 {
    height: 32px;
    line-height: 32px;
    font-size: 30px;
    border-left: 4px solid #2698e4;
    padding-left: 16px;
    display: inline-block
}

.ne_i_tit .types {
    float: right
}

.ne_i_tit .types a {
    font-size: 16px;
    color: #888;
    padding: 0 20px;
    border-right: 1px solid #ddd;
    margin-right: -1px
}

.ne_i_tit .types a:hover {
    color: #2698e4
}

.ne_i_xmain {
    background: #fff;
    border-radius: 2px;
    padding: 20px
}

.ne_i_zlist {
    margin-right: -12px
}

.ne_i_zlist li {
    width: 291px;
    float: left;
    margin-right: 12px;
    background: #fff;
    border-radius: 2px
}

.ne_i_zlist a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #444
}

.ne_i_zlist a:hover {
    color: #2698e4;
    box-shadow: 0 0 13px rgba(34, 61, 72, 0.14)
}

.ne_i_zlist img {
    width: 100%;
    height: 203px;
    display: block
}

.ne_i_zlist p {
    height: 48px;
    line-height: 48px
}

.ne_i_vlist {
    margin-right: -15px;
    margin-bottom: 40px
}

.ne_i_vlist li {
    float: left;
    width: 230px;
    height: 178px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff
}

.ne_i_vlist p {
    height: 49px;
    line-height: 49px;
    position: relative;
    padding-right: 45px;
    position: relative;
    text-indent: 15px
}

.ne_i_vlist img {
    display: block;
    width: 230px;
    height: 129px
}

.ne_i_vlist .ic_n_playh {
    display: none
}

.ne_i_vlist ul .ic {
    position: absolute;
    right: 9px;
    top: 12px
}

.ne_i_vlist ul a {
    display: block
}

.ne_i_vlist ul a:hover {
    box-shadow: 0 0 13px rgba(34, 61, 72, 0.14)
}

.ne_i_vlist ul a:hover p {
    color: #2698e4
}

.ne_i_vlist ul a:hover .ic_n_playh {
    display: inline-block
}

.ne_i_vlist ul a:hover .ic_n_play {
    display: none
}

.ne_i_video {
    width: 480px;
    height: 367px;
    margin-right: 10px;
    background: #fff;
    float: left
}

.ne_i_video:hover {
    box-shadow: 0 0 13px rgba(34, 61, 72, 0.14)
}

.ne_i_video a:hover {
    color: #2698e4
}

.ne_i_video .news_video {
    width: 480px;
    height: 306px
}

.ne_i_video p {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 20px
}

.ne_i_video p span {
    font-size: 14px;
    color: #aaa;
    float: right;
    line-height: 63px
}

.ne_i_video p .ic {
    margin-top: -6px
}

.neix_l {
    float: left;
    width: 350px;
    margin-right: 20px
}

.neix_c {
    float: left;
    /*width: 420px;*/
    padding-left: 30px;
}

.neix_r {
    float: right;
    width: 340px
}

.neix_r .neix_img {
    margin-right: -10px;
    margin-bottom: 10px
}

.neix_r h3 {
    height: 27px;
    line-height: 27px;
    position: relative;
    padding: 13px 0;
    overflow: hidden
}

.neix_r h3 em {
    display: inline-block;
    font-size: 18px;
    color: #2698e4;
    padding-right: 10px;
    background: #fff;
    position: relative;
    z-index: 2
}

.neix_r .t_line {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 26px;
    border-bottom: 1px solid #e6e6e6
}

.neix_img li {
    float: left;
    margin-right: 10px;
    width: 165px
}

.neix_img a {
    color: #666;
    display: block
}

.neix_img a:hover {
    color: #2698e4
}

.neix_img p {
    line-height: 1.5;
    padding-top: 5px;
    height: 47px;
    overflow: hidden
}

.neix_img a img {
    width: 100%;
}

.neix_img .first {
    width: 340px
}

.neix_img .first a {
    color: #444
}

.neix_img .first a:hover {
    color: #2698e4
}

.neix_img .first p {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    width: 100%
}

.neix_txt li {
    font-size: 16px;
    height: 36px;
    line-height: 36px
}

.neix_txt a {
    color: #666;
    display: block;
    width: 100%
}

.neix_txt a:hover {
    color: #2698e4
}

.neix_txt .ic_dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    background: #c2dbeb;
    margin-right: 9px;
    margin-left: 3px
}

.neix_txt .tops {
    font-size: 20px;
    height: 50px;
    line-height: 50px
}

.neix_txt .tops a {
    color: #444
}

.neix_txt .tops a:hover {
    color: #2698e4
}

.neix_txt .times {
    float: right;
    color: #888
}

.neix_txt.first {
    margin-bottom: 20px
}

.ne_fl {
    float: left;
    width: 900px
}

.ne_fr {
    float: right;
    width: 280px
}

.ne_ztlist {
    border-bottom: 1px solid #eee;
    padding: 15px 0
}

.ne_ztlist_main {
    background: #fff;
    border-radius: 2px
}

.ne_ztlist .imgs {
    float: left;
    display: block;
    width: 271px;
    height: 203px
}

.ne_ztlist img {
    display: block;
    width: 100%;
    height: 100%
}

.ne_ztlist li {
    padding: 15px 30px
}

.ne_ztlist .cons {
    margin-left: 301px
}

.ne_ztlist h3 a {
    display: block;
    line-height: 2;
    font-size: 22px;
    color: #444
}

.ne_ztlist h3 a:hover {
    color: #2698e4
}

.ne_ztlist p {
    font-size: 16px;
    color: #888;
    line-height: 30px;
    padding: 10px 0;
    height: 90px;
    overflow: hidden
}

.ne_ztlist .links {
    color: #2698e4;
    margin-top: 12px;
    display: inline-block
}

.ne_xlist_main {
    background: #fff;
    border-radius: 2px
}

.ne_xlist .imgs {
    float: left;
    display: block;
    width: 235px;
    height: 176px
}

.ne_xlist img {
    display: block;
    width: 100%;
    height: 100%
}

.ne_xlist li {
    padding: 30px;
    border-bottom: 1px solid #eee
}

.ne_xlist li:hover {
    background: #f7fdff
}

.ne_xlist .cons {
    margin-left: 265px
}

.ne_xlist h3 a {
    display: block;
    line-height: 2;
    font-size: 22px;
    color: #444
}

.ne_xlist h3 a:hover {
    color: #2698e4
}

.ne_xlist p {
    font-size: 16px;
    color: #888;
    line-height: 26px;
    padding: 20px 0;
    height: 52px
}

.ne_xlist .times {
    color: #bababa
}

.ne_xlist .times .ic {
    margin-right: 15px;
    vertical-align: -2px
}

.ne_vlist {
    padding: 10px 30px
}

.ne_vlist_main {
    background: #fff;
    border-radius: 2px
}

.ne_vlist li {
    width: 50%;
    float: left
}

.ne_vlist a {
    display: block;
    padding: 20px 15px 20px 0;
    height: 112px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee
}

.ne_vlist .odd a {
    padding: 20px 0 20px 20px;
    border-right: 0
}

.ne_vlist .imgs {
    width: 200px;
    height: 112px;
    float: left;
    position: relative
}

.ne_vlist .imgs .ic {
    position: absolute;
    right: 9px;
    bottom: 9px
}

.ne_vlist .imgs img {
    display: block;
    width: 200px;
    height: 112px
}

.ne_vlist .cons {
    margin-left: 220px
}

.ne_vlist h3 {
    word-break: break-all;
    font-size: 16px;
    line-height: 30px;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 5px
}

.ne_vlist .times {
    color: #bababa
}

.ne_vlist .editors {
    color: #2698e4;
    float: right
}

.ne_pg {
    padding: 0 20px
}

.ne_pg_main {
    background: #fff;
    border-radius: 2px;
    padding: 20px
}

.ne_pg_con {
    font-size: 16px;
    color: #666;
    padding: 20px
}

.ne_pg_con p {
    line-height: 36px;
    padding: 10px 0;
    text-indent: 2em
}

.ne_pg_con img {
    max-width: 700px;
    display: block;
    margin: 15px auto
}

.ne_pg_con a {
    color: #f00;
    text-decoration: underline
}

.ne_pg_title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6
}

.ne_pg_title h2 {
    line-height: 1.5;
    font-size: 32px
}

.ne_pg_title p {
    color: #888;
    margin-top: 10px;
    line-height: 2
}

.ne_pg_title p span {
    display: inline-block;
    padding: 0 10px
}

.ne_pg_recom_main {
    background: #fff;
    border-radius: 2px;
    padding: 20px
}

.ne_pg_recom ul {
    padding-left: 20px
}

.ne_pg .pg_share {
    padding: 10px 20px 50px
}

.pg_share {
    height: 36px
}

.pg_share .tit {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #666;
    margin-right: 20px
}

.pg_share a {
    background: url("../images/ne_share.png") no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0
}

.pg_share a.eq1 {
    background-position: 0 0
}

.pg_share a.eq2 {
    background-position: 0 -36px
}

.pg_share a.eq3 {
    background-position: 0 -72px
}

.pg_share a.eq4 {
    background-position: 0 -108px
}

.pg_share a.eq5 {
    background-position: 0 -144px
}

.pg_share a.eq6 {
    background-position: 0 -180px
}

.pg_share #bshare-custom a {
    width: 36px;
    height: 36px;
    background: url("../images/ne_share.png") no-repeat;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0
}

.pg_share #bshare-custom a.eq1 {
    background-position: 0 0
}

.pg_share #bshare-custom a.eq2 {
    background-position: 0 -36px
}

.pg_share #bshare-custom a.eq3 {
    background-position: 0 -72px
}

.pg_share #bshare-custom a.eq4 {
    background-position: 0 -108px
}

.pg_share #bshare-custom a.eq5 {
    background-position: 0 -144px
}

.pg_share #bshare-custom a.eq6 {
    background-position: 0 -180px
}

.ne_video {
    background: #343434
}

.ne_video_con {
    width: 900px;
    height: 590px;
    float: left
}

.ne_video_plist {
    width: 280px;
    height: 590px;
    float: right;
    padding-left: 20px
}

.ne_video_plist h3 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #282828
}

.ne_video_plist ul {
    height: 521px;
    overflow: auto;
    padding-top: 18px
}

.ne_video_plist li {
    margin-bottom: 15px;
    height: 70px
}

.ne_video_plist li.p_play .p_stus {
    display: block
}

.ne_video_plist .imgs {
    width: 124px;
    height: 70px;
    float: left;
    position: relative
}

.ne_video_plist .p_stus {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #2698e4;
    border: 2px solid #2698e4;
    background: rgba(0, 0, 0, 0.7);
    display: none
}

.ne_video_plist img {
    display: block;
    width: 100%;
    height: 100%
}

.ne_video_plist .cons {
    margin-left: 134px;
    height: 70px;
    overflow: hidden
}

.ne_video_plist .cons .ic {
    margin-right: 10px
}

.ne_video_plist .names {
    color: #fff;
    height: 42px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: -3px
}

.ne_video_plist .vies {
    font-size: 12px;
    color: #aaa
}

.ne_video_plist a {
    display: block
}

.ne_video_plist a:hover .names {
    color: #2698e4
}

.ne_video_tit {
    clear: both;
    background: #1e1e1e;
    height: 70px;
    padding: 0 20px
}

.ne_video_tit h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    float: left
}

.ne_video_tit .t_other {
    float: right;
    height: 30px;
    line-height: 30px;
    padding-top: 20px;
    color: #aaa
}

.ne_video_tit .t_other span, .ne_video_tit .t_other a {
    display: inline-block;
    padding-left: 20px
}

.ne_video_tit .t_other .ic {
    margin-right: 10px
}

.ne_video_tshare {
    color: #aaa
}

.ne_video_tshare .ich {
    display: none
}

.ne_video_tshare:hover {
    color: #2698e4
}

.ne_video_tshare:hover .ic {
    display: none
}

.ne_video_tshare:hover .ich {
    display: inline-block
}

#video_share {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px
}

#video_share a {
    margin: 0;
    background: none;
    padding-left: 0;
    color: #aaa;
    height: 30px;
    line-height: 26px
}

.fac_title {
    height: 20px;
    line-height: 20px;
    padding: 5px 0;
    position: relative
}

.fac_title h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
    *display: inline
}

.fac_title .line {
    width: 5px;
    height: 20px;
    background: #2698e4;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    position: relative
}

.fac_title .lines {
    position: absolute;
    left: 0;
    top: 15px;
    border-top: 1px solid #e6e6e6;
    right: 0;
    height: 0
}

.fac_title .ic {
    background-color: #fff;
    margin-top: -5px;
    position: relative;
    padding-right: 5px;
    *float: left
}

.fac_title .notes {
    color: #aaa;
    font-size: 14px
}

.fac_recom .fac_title {
    padding: 20px 0 20px 15px
}

.fac_recom .fac_title h3 {
    background: none;
    color: #2698e4;
    font-weight: normal
}

.ne_recom .fac_title {
    padding: 20px 0 20px 15px
}

.ne_recom .fac_title h3 {
    background: none;
    color: #2698e4;
    font-weight: normal
}

.fac_recom_list {
    margin-right: -10px
}

.fac_recom li {
    float: left;
    margin-right: 10px;
    width: 232px;
    border-radius: 2px;
    background: #fff
}

.fac_recom .imgs {
    margin: 10px 10px 0;
    display: block;
    position: relative;
    height: 145px;
    overflow: hidden
}

.fac_recom .imgs:hover img {
    transform: scale(1.2, 1.2)
}

.fac_recom .imgs img {
    width: 100%;
    display: block;
    height: 145px;
    transition: all 0.6s
}

.fac_recom .con {
    padding: 0 10px 5px;
    line-height: 2;
    font-size: 16px
}

.fac_recom .name {
    width: 100%;
    color: #444;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #e6e6e6
}

.fac_recom .name:hover {
    color: #2698e4
}

.fac_recom .des {
    color: #aaa;
    font-size: 14px;
    line-height: 1.5
}

.fac_recom .price {
    color: #ff7325
}
